body {
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#sidebar {
    background: rgb(68, 68, 68);
    height: 100vh;
    padding: 1.5rem;
    color: whitesmoke;
}

#sidebar h2 {
    font-family: 'Gloria Hallelujah', cursive;
    color:inherit;
    margin: 0.5rem 0.5rem 0.1rem 0.5rem;
    font-size: 1.5rem;
    user-select: none;
}

#heading {
    font-size: 3rem;
    text-align: center;
    margin-top: -0.1rem;
    font-family: 'Pacifico', cursive;
    user-select: none;
    color: inherit;
}

hr {
    border: 1px solid gray;

}

#tasks-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    font-size: 1.5rem;
}

.time-options, #project-adder {
    margin: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-family: 'Shadows Into Light', cursive;
}

.time-options:hover, #project-adder:hover {
    color: skyblue;
    cursor: pointer;
}

#projects {
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 0.8rem;
}

#projectsDiv img {
    vertical-align: -16%;
}

.project-options {
    font-family: 'Shadows Into Light', cursive;
    margin: 0.2rem 0 0.1rem 0.9rem;
    list-style-type: disc;
    font-size: 125%;
    white-space: pre-wrap;
    height: auto;
    user-select: none;
}

.project-options:hover {
    color: skyblue;
    cursor: pointer;
}

li span {
    position: relative;
    left:-4%;
}

.project-input {
    width: 75%;
    height: auto;
    background: inherit;
    outline: none;
    border: 1px solid rgb(49, 49, 49);
    color: inherit;
    font-family: inherit;
    font-size: 90%;
}

#content {
    background: #83b4dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
    padding: 0.5rem;
}

#tasksCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}


.icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.2rem;
    filter: contrast(0%);
}

#colordiv {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 20%;
    text-align: center;
}

#color-picker {
    border: 0;
    width: 2em;
    height: 2em;
    background: none;
    vertical-align: -30%;
}

#color-picker:hover {
    cursor: pointer;
}

.color-label {
    color: inherit;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 0.9rem;
}

.taskCont {
    width: 70%;
    height: auto;
    margin-bottom: 0.5rem;
    order: -1;
}

.taskTop {
    background: rgb(68, 68, 68);
    height: 2rem;
    margin: 0 0.5rem;
    display: flex;
    width: auto;
    align-items: center;
    padding: 0.1rem 0.5rem;
    font-family: 'Asap', sans-serif;
    position: relative;
}

.titleIcon {
    max-width: 18px;
    max-height: 18px;
    width: auto;
    height: auto;
    margin-right: 0.2rem;
}

.taskTop img:hover, .checkbox:hover {
    cursor: pointer;
}

.title {
    max-width: 97%;
    width: 80%;
    background: rgb(68, 68, 68);
    color: whitesmoke;
    height: 60%;
    border: 1px hidden;
    outline: none;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: lighter;
    margin-left: 0.2rem;
}

.checkbox {
    height: 1rem;
    width: 1rem;
}

.displayDue {
    font-family: inherit;
    color: gray;
    font-size: 1rem;
    height: 60%;
    max-width: 20%;
    justify-self: end;
    position: absolute;
    right: 0.5rem;
    top: 0.58rem;
}

.details {
    width: auto;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding-bottom: 0.8em;
    height: 82%;
    background:rgb(68, 68, 68);
    border-top: 1px solid rgb(49, 49, 49);
}

.detailsLeft, .detailsRight {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding-left: 0.8em;
    padding-right: 0.8em;
    display: flex;
    flex-direction: column;
    font-family: 'Asap', sans-serif;
}

.labels {
    color: darkgray;
    font-size: 0.9em;
    font-family: inherit;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.desc {
    height: 90%;
    border: 1px solid rgb(49, 49, 49);
    outline: none;
    background: rgb(80, 80, 80);
    font-size: inherit;
    color: whitesmoke;
    font-size: 1.1em;
}

.input {
    background:rgb(80, 80, 80);
    border: 1px solid rgb(49, 49, 49);
    height: 1.8rem;
    color: whitesmoke;
    outline: none;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

input[type=datetime-local] {
    padding-left: 0.2rem;
}

.btnDiv {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}

.btn {
    padding: 0.2rem 0.5rem;
    width: auto;
    height: auto;
    font-family: inherit;
    font-size: 1em;
    background:rgb(80, 80, 80);
    border: 1px solid rgb(49, 49, 49);
    color: whitesmoke;
}

.btn:hover {
    background:rgb(90, 90, 90);
    cursor: pointer;
}

.btn:active {
    background: rgb(100, 100, 100);
}

#forMobile {
    position: fixed;
    top: 0;
    height: 5%;
    background: rgb(68, 68, 68);
    width: 100%;
    color: whitesmoke;
    font-family: 'Pacifico', cursive;
    text-align: center;
    display: none;
    align-items: center;
    font-size: 1.2rem;
}

#forMobile h1 {
    width: 85%;
    text-align: center;
}

#forMobile img {
    margin-left: 4%;
    width: 1.2rem;
    height: 1rem;
}

#forMobile img:hover {
    cursor: pointer;
}

@media screen and (min-width: 712px) and (max-width: 768px){
    body {
        grid-template-columns: 30% 1fr;
    }

    #colordiv {
        width: 30%;
    }
}

@media screen and (max-width: 711px) {
    body {
        display: block;
    }

    #sidebar {
        display: none;
    }

    #forMobile {
        display: flex;
    }

    #content {
        padding-top: 13%;
    }

    .taskCont {
        width: 95%;
    }

    #sidebar {
        width: 60%;
        position: absolute;
        z-index: 1;
        height: 0;
        top: 5%;
        animation: slide 0.4s forwards;
    }

    @keyframes slide {
        100% {
            height: 100%;
        }
    }

    #sidebar h1{
        display: none;
    }

    #colordiv {
        width: 100%;
        bottom: 15%;
    }

    .details {
        flex-direction: column;
    }

    .detailsLeft, .detailsRight {
        width: 100%;
    }

    .btnDiv {
        margin-top: 0.5rem;
    }

    .title {
        width: auto;
        font-size: 90%;
    }

    .displayDue {
        font-size: 90%;
    }
}